<h2>Product Category</h2>
<form class="form-horizontal" role="form" novalidate ng-submit="save()">
	<div class="form-group">
		<label class="col-md-2 control-label">Category Name:</label>
		<div class="col-md-4">
			<input type="text" ng-model="categoryName" class="form-control" />
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-success">Save</button>
		</div>
	</div>
</form> 

<table class="table table-bordered">
	<thead>
		<tr>
			<th style="width: 50px;">ID</th>
			<th>Category Name</th>
			<th style="width: 150px;"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in productCategories">
			<td>{{ row.id }}</td>
			<td>{{ row.categoryName }}</td>
			<td>
				<button class="btn btn-success">Edit</button>
				<button class="btn btn-danger">Delete</button>
			</td>
		</tr>
	</tbody>
</table>